/* NAVBAR ------------------------------------------------*/

@charset "UTF-8";
.navigation {
  height: 80px;
  background: #262626;
  
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 80px;
  text-transform: uppercase;
  font-size: 3rem;
}
.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}
.brand a:hover{
    color:rgb(49, 175, 24);
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 80px;
  background: #262626;
  color:#ffffff;
  text-decoration: none;
  font-size: 2rem;
}
nav ul li a:hover,
nav ul li a:visited:hover {
  background: rgb(49, 175, 24);
  color: #ffffff;
}
nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}
.logo :hover{
    color: rgb(49, 175, 24);
}
.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
 /*---searchbar----*/
 form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 40px;
    height: 40px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    margin-top: 40px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 40px;
    line-height: 20px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 2em;
    border-radius: 20px;
    padding: 0 6px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}
/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
    margin-top: 4px;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-size: 62.5%;
    font-size: 8px;
    background-image: url(../../img/conifer-1867371_1920.jpg);
    background-color: grey;
    
}



/* CARDS -------------------------------------------------*/
  
  
  /* Grid styles -------------------------------------------------*/
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 30px;
  }
  
  
  /* Generic styles ----------------------------------------------*/
  
  
  
  .cards {
    max-width: 1000px;
    margin: 0 auto 30px;
    margin-top: 30px;
  }
  
  article {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    height: 300px;
    background-color: white;
  }
  
  .article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
  
  .article-title {
    display: flex;
    justify-content: center;
   
   margin-top: 20px;
  
   
  }

  
  main {    
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  

  button.btn.btn-primary{
    
    width: 300px;
    height: 50px;
   
   justify-content: center;
    font-size:3rem;
    margin-top: 25px;
    color: #fff;
    border-color: transparent;
    border-radius: 30px;
    background-color: #262626;
  }
  button.btn.btn-primary:hover{
      color: rgb(49, 175, 24);
  }
  

.zoom1
{
    display:inline-block;
    
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.zoom:hover
{
   
   
   z-index: 2;
   -webkit-transition: all 200ms ease-in;
   -webkit-transform: scale(1.1);
   -ms-transition: all 200ms ease-in;
   -ms-transform: scale(1.1);   
   -moz-transition: all 200ms ease-in;
   -moz-transform: scale(1.1);
   transition: all 200ms ease-in;
   transform: scale(1.1);
}

article.zoom{
    background-color: #262626 ;
}
