.navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
}
.bg-light {
    background-color: #50b338!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(255 255 255 / 90%);
}
.btn-outline-success {
    color: #ffffff;
    border-color: #ffffff;
}
.dropdown-menu {
    
    background-color: #50b338;
    
}
.dropdown-item {
   
    color: #ffffff;
    
}
.btn-primary {
    color: #fff;
    background-color: #50b338;
    
}
